@use '../base/var' as *;
@use '../base/breakpoints' as *;

/* ===== HOW ===== */
.how {
  .section-header {
    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }

  .mock-inner {
    @include media-breakpoint-up(md) {
      @include media-breakpoint-down(lg) {
        width: 270px;
        border-radius: 33px;

        iframe {
          transform: scale(.62790698);
        }
      }
    }
  }
}

// STEPS
.steps {
  margin: 50px 0 30px;
  counter-reset: howstep;
  list-style: none;
  line-height: 1.5;
  letter-spacing: .015em;
  color: $color-dark;
  @include media-breakpoint-up(md) {
    margin: 40px 0 10px;
  }
  @include media-breakpoint-up(xl) {
    margin-top: 58px;
    margin-bottom: 0;
  }

  li {
    padding-left: 46px;
    position: relative;
    counter-increment: howstep;
    @include media-breakpoint-down(md) {
      font-size: 15px;
    }
    @include media-breakpoint-up(md) {
      max-width: 520px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 565px;
      padding-left: 50px;
    }

    & + li {
      margin-top: 36px;
      @include media-breakpoint-up(xl) {
        margin-top: 46px;
      }
    }

    &::before {
      @include pseudo;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      content: counter(howstep);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      font: bold 13px $font-default;
      color: white;
      background: linear-gradient(135deg, $color-blue, $color-orchid);
      box-shadow: 0 10px 24px rgba($color-orchid, .25);
    }

    .step-title {
      padding: 3px 0;
      margin: 0 0 8px;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0;
      color: $color-ink;
      @include media-breakpoint-up(md) {
        font-size: 22px;
      }
      @include media-breakpoint-up(xl) {
        margin-bottom: 12px;
      }
    }

    > *:last-child {margin-bottom: 0 !important;}
  }
}