@use '../base/var' as *;
@use '../base/breakpoints' as *;

/* ===== PROFILE ===== */
.profile {
  /*
  background: radial-gradient(1200px 420px at 50% -120px, rgba(255, 255, 255, .9), rgba(255, 255, 255, 0));
  border-top: 1px solid rgba(0, 0, 0, .06);
  border-bottom: 1px solid rgba(0, 0, 0, .06);
  padding: 40px 0 60px;
   */
}