@use '../base/var' as *;
@use '../base/breakpoints' as *;

/* ===== CONTAINER ===== */
.container {
  max-width: var(--max-width);
  padding: 0 16px;
  margin: 0 auto;
  @include media-breakpoint-up(md) {
    padding: 0 20px;
  }
}